<div class="wrapper">
  <navbar-component></navbar-component>
  <sidebar-component></sidebar-component>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <breadcrumbs-component></breadcrumbs-component>
    <!-- Main content -->
    <section class="content">
      <!-- .container-fluid -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer-component></footer-component>
</div>
<!-- ./wrapper -->