<button type="button" class="btn btn-sm btn-secondary mb-1">Add</button>
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Manager Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>